* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #080808;
  color: #fff;
}

.text-orange {
  color: #c32c2c;
}

.bg-orange {
  background-color: #c32c2c;
  color: white;
}

.font-monospace {
  font-family: monospace;
}

.card-font-small {
  font-size: 15px;
}

.card {
  background-color: #242424;
}

/* Header */

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background_image.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  font-family: "Lucida Handwriting", "Courier New", monospace;
}

.logo-initial {
  color: #c32c2c;
  font-family: "Lucida Handwriting", "Courier New", monospace;
  font-size: 42px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  padding: 10px 20px;
  z-index: 9999;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  font-family: "Lucida Handwriting", "Courier New", monospace;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #c32c2c;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 60px;
}

/* About */
#about {
  color: lightgray;
}

.sub-title {
  margin-top: 5%;
  font-weight: 600;
  font-family: "Lucida Handwriting", "Courier New", monospace;
  color: white;
}

.tab-titles {
  display: flex;
  margin: 20px 0;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  font-family: "Lucida Handwriting", "Courier New", monospace;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
  background-color: #c32c2c;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0px;
}

.tab-contents ul li span {
  font-size: 14px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/* Experience Section */

.carousel-control-prev {
  left: -90px;
  top: -50px;
}

.carousel-control-next {
  right: -90px;
  top: -50px;
}

#experience .carousel-item {
  height: 350px;
}

#experience .card.mb-3 {
  height: 300px;
}
