---
interface Props {
  id: string;
  title: string;
}
const { id, title } = Astro.props;
---

<figure
  class="my-6 border-4 border-black bg-white p-3 shadow-[8px_8px_0_0_#000]"
>
  <div
    class="relative aspect-video w-full overflow-hidden border-2 border-black"
  >
    <iframe
      src={`https://www.youtube-nocookie.com/embed/${id}`}
      title={title}
      loading="lazy"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="absolute inset-0 h-full w-full"></iframe>
  </div>
  <figcaption
    class="mt-2 text-center text-xs font-bold tracking-widest uppercase"
  >
    {title}
  </figcaption>
</figure>
